/.htaccess
/htaccess_*
!/htaccess_default
/_ss_environment*
!/_ss_environment_default.php
/assets/*
!/assets/.htaccess
/framework/
/silverstripe-cache/
/nbproject/
/debug.log
/silverstripe.log
/vendor
/composer.lock
.DS_Store
/themes
/localegeoip
/dependentdropdownfield
/bootstrap_extra_fields
/bootstrap-tagfield
/bootstrap_navbar_languageform
/bootstrap_navbar_loginform
/extendedobjects
/geoform
/geoip
/gridfieldextensions
/legacyfields
/mobile_detector
/session_extender
/smtpmailer
/betterbuttons